<%- include('../partials/header') %>

    <div>Before adding, please ensure that the seat is not already reserved:</div>
    <!-- <section id="badge-container">
        <% tickets.forEach(function(t) { %>
        <article class="badge">
            <%= t.seat %>
        </article>
        <% }) %>
    </section> -->

    <form id="add-tix-to-flight" action="/tickets" method="POST">
        <label>Seat:</label>
        <input name="seat" required pattern="[A-F][1-9]\d?">
        <label>Price:</label>
        <input type="Number" name="price">
        <input type="submit" value="Choose Seat">
    </form>

    <%- include('../partials/footer') %>